<!--<mat-icon>dashboard</mat-icon>-->
<div class="flex bg-gray-700">
  <app-sidebar></app-sidebar>
<!--  <div class="p-7"><h1 class="text-2xl font-semibold"></h1></div>-->
<!--  <rsz-layout class="row w-full" [directions]="['none']" [rFlex]="true">-->
<!--    <rsz-layout class="cell bg-gray-700 max-w-5xl" [directions]="['right']" [rFlex]="true">-->
<!--      <app-markdown-editor class="w-1/2 "></app-markdown-editor>-->
<!--&lt;!&ndash;    </rsz-layout>&ndash;&gt;-->
<!--&lt;!&ndash;    <rsz-layout class="cell" [directions]="['none']" [rFlex]="false">&ndash;&gt;-->
<!--      <app-render class="w-1/2"></app-render>-->
<!--  <app-editor class="w-full"></app-editor>-->
<!--  <app-document-viewer></app-document-viewer>-->
<!--    </rsz-layout>-->

<!--  </rsz-layout>-->
  <div class="w-full">
    <router-outlet ></router-outlet>
  </div>

</div>
<!--<h1 class="text-3xl font-bold underline">-->
<!--  Hello world!-->
<!--</h1>-->
